<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="Conexión" connectionString="Data Source=ROA\SQLEXPRESS;Initial Catalog=Sega#1;Integrated Security=True;Trust Server Certificate=True" />
	</connectionStrings>

	<appSettings>
		<add key="smtp_user" value="Sroa2591@gmail.com" />
		<add key="smtp_pass" value="tyyo mnui kssv ygue" />
	</appSettings>

</configuration>                         